<ion-view>
  <ion-pane>
    <ion-nav-bar class="bar-stable">
      <ion-nav-title>
        <h1 class="title" ng-show="!search.show" >
    			<img src="img/bw-logo-icon.png" />
    			<span>BizWinks</span >
    		</h1 >
      </ion-nav-title>
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
  	<ion-content >
      <div class="list card">
        <div class="item" ng-click="showOnMap()">
          <h2>{{business.businessProfile.title}}</h2>
          <p >
  					<i class="ion ion-ios-location" ></i >
  					{{business | address}}
  				</p >
        </div>
        <div class="item item-body">
          <video poster="{{getVideoPoster()}}" controls preload="none">
            <source src="{{getVideoSrc()}}" type="video/mp4"/>
          </video>
          <p>
            {{business.businessProfile.description}}
          </p>
          <p>
            <a ng-click="getDirection()" class="subdued"><i class="ion ion-navigate">&nbsp;Navigate</i ></a>
            <a ng-click="shareBiz()" class="subdued"><i class="ion ion-android-share-alt"></i>&nbsp;Share</a>
          </p>
        </div>
        <div class="item item-icon-left">
          <a ng-click="mailTo()">
            <i class="icon ion-ios-email-outline"></i>
            {{business.businessProfile.businessEmail}}
          </a>
        </div>
        <div class="item item-icon-left" ng-if="business.businessProfile.telephone">
          <a ng-click="call()">
            <i class="icon ion-ios-telephone-outline"></i>
            {{business.businessProfile.telephone}}
          </a>
        </div>
        <div class="links" ng-if="business.businessProfile.links | isEmpty | not">
          <div class="item item-icon-left"
            ng-repeat="link in business.businessProfile.links.link">
            <a ng-click="openExternalUrl(link.url)">
              <i class="icon {{getLinkIconClass(link.title)}}"></i>
               {{link.title}}
            </a>
          </div>
        </div>
      </div>

  	</ion-content >
  </ion-pane >
</ion-view>
