<ion-view title="Home">
  <ion-pane>
  	<ion-header-bar class="bar bar-header bar-stable" >
  		<h1 class="title" ng-show="!search.show" >
  			<img src="img/bw-logo-icon.png" />
  			<span>BizWinks</span >
  		</h1 >
      <!-- <div class="buttons">
        <button class="button button-icon ion-ios-search"
                ng-click="showSearchBar()"></button>
      </div> -->
      <search-bar ng-model="search"></search-bar>
  	</ion-header-bar >
  	<ion-content >

  		<ion-refresher
  		    pulling-text="Refresh..."
  		    on-refresh="doRefresh(search.txt)">
  		</ion-refresher>

  		<ion-list >
  			<ion-item ng-repeat="biz in viewable.results"
  			          class="item item-thumbnail-left"
                  ng-click="openBusinessDetail($index)"
  								>
  				<img ng-src="https://streams.winkball.com/getWinkThumbnail?id={{biz.businessProfileEntry.id}}&w=128&h=72" >
  				<h2 >{{biz.businessProfile.title}}</h2 >
  				<p >
  					<i class="ion ion-ios-location" ></i >
  					{{biz | address}}
  				</p >
  				<ion-option-button class="button-positive"
  				ng-click="getDirection(biz)">
  					<i class="ion ion-navigate"></i>&nbsp;Navigate
  				</ion-option-button>
  			</ion-item >
  		</ion-list >

  		<ion-infinite-scroll
  			ng-if="viewable.hasMore"
  			immediate-check="false"
  		  on-infinite="loadMore(search.txt)">
  		</ion-infinite-scroll>

  	</ion-content >
  </ion-pane >
</ion-view>
