<ion-view>
  <ion-pane>
    <ion-nav-bar class="bar-stable">
      <ion-nav-title>
        <h1 class="title" ng-show="!search.show" >
    			<img src="img/bw-logo-icon.png" />
    			<span>BizWinks</span >
    		</h1 >
      </ion-nav-title>
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
  	<ion-content >
  	</ion-content >
  </ion-pane >
</ion-view>
