.bar-header .title img {
	height: 24px;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -5px;
}

video {
	width: 100%;
	min-width: 320px;
	height: auto;
	background-size: 100% 100%;
}

.links .item:first-child {
	border-top: 1px solid #ddd;
}

/* ------- SEARCH ----*/
.searchBar {
	color: #fff;
	margin: 0 !important;
	padding: 0;
}
.searchBar .icon {
	font-size: 27px;
	line-height: 1.2;
	padding-right: 6px;
	padding-left: 6px;
}
.searchBar .searchTxt {
	border-bottom: 1px solid #fff;
	left: 5px;
	width: calc(100% - 50px);
	position: fixed;
	height: calc(100% - 10px);
}
.platform-ios .searchBar .searchTxt {
	height: calc(100% - 30px);
}
.searchBar.numicons2 .searchTxt {
	width: calc(100% - 135px);
}
.searchBar .searchTxt > .bgdiv {
	background-color: #aaa;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.3;
}
.searchBar .searchTxt > .bgtxt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.searchBar .searchTxt input {
	background-color: inherit;
	color: #fff;
	padding-left: 5px;
	padding-right:5px;
}
/* ------- END SEARCH ----*/
